.details {
  display: grid;
  grid-template-columns: repeat(2, 592px);
  grid-template-rows: repeat(2, 245px);
  gap: 37px 32px;
  width: 1216px;
  height: 527px;

  &__title {
    margin-top: 0;
    margin-bottom: 17px;
    @include font-body-18;
  }

  &__text {
    @include font-body-16;
  }

  @media screen and (min-width: 320px) and (max-width: 374px) {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: unset;
    margin: 16px 0;
    &__item {
      width: 288px;
      margin: 0 16px;
    }
  }
}
