.faq {
  @include default-flex-centered-column;
  width: 1008px;
  @include section-params-vp;
  &__title {
    margin-top: 0;
    margin-bottom: 66px;
    text-align: center;
    @include font-headline-2;
  }

  @media screen and (max-width: 767px) {
    &__title {
      @include font-headline-4;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    &__title {
      margin-bottom: 42px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 374px) {
    &__title {
      margin-bottom: 28px;
    }
  }
}

.faq-item {
  &__wrapper {
    @include default-flex-column;
    overflow: hidden;
  }

  &__question-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1008px;
    padding: 0;
    background-color: transparent;
    border: unset;
    border-top: 2px solid $color-extralight-gray;
  }

  &__question-container:hover {
    color: $color-primary;
    cursor: pointer;
    & > svg path {
      fill: $color-primary;
    }
    & > svg circle {
      stroke: $color-primary;
    }
  }

  &__question-content {
    @include font-body-18;
    font-weight: bold;
    text-align: start;
  }

  &__question-content,
  &__answer-content {
    width: 936px;
  }

  &__toggle {
    min-width: 24px;
    min-height: 24px;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    &.toggle--active {
      -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
      transform: rotateZ(45deg);
    }
  }

  &__answer-container {
    -webkit-transition: height 0.7s ease-in-out;
    -o-transition: height 0.7s ease-in-out;
    transition: height 0.7s ease-in-out;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  &__answer-content {
    margin: 0;
    padding: 18px 0;
    @include font-body-18;
    color: $color-dark-gray;
  }

  @media screen and (min-width: 768px) and (max-width: 1023px) {
    &__question-container {
      width: 727px;
    }

    &__question-content,
    &__answer-content {
      width: 675px;
    }
  }

  @media screen and (max-width: 767px) {
    &__wrapper {
      align-items: flex-start;
    }
    &__question-container {
      align-items: flex-start;
      text-align: start;
    }
    &__toggle {
      margin-top: 24px;
    }

    &__answer-content {
      padding: 16px 0;
      @include font-body-16;
    }
  }

  @media screen and (min-width: 375px) and (max-width: 767px) {
    &__question-container {
      width: 343px;
    }

    &__question-content,
    &__answer-content {
      width: 299px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 374px) {
    &__question-container {
      width: 288px;
    }
    &__toggle {
      margin-top: 24px;
    }
    &__question-content,
    &__answer-content {
      width: 244px;
    }
  }
}
