.how-to-info {
  width: 1216px;
  height: 281px;

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 61px;
    font-size: 40px;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}

.how-to-item {
  width: 280px;
  &__icon > svg {
    width: 72px;
    height: 72px;
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 4px;
    font-size: 16px;
  }

  &__text {
    color: $color-dark-gray;
    line-height: 24px;
  }
}
