.how-to-info {
  width: 1216px;

  &__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 61px;
    @include font-headline-2;
  }

  &__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 32px;
  }
}

.how-to-item {
  width: 280px;
  &__icon > svg {
    width: 72px;
    height: 72px;
  }

  &__title {
    margin-top: 16px;
    margin-bottom: 4px;
    @include font-headline-6;
  }

  &__text {
    color: $color-dark-gray;
    @include font-body-14;
  }
}

@media screen and (max-width: 768px) {
}
@media screen and (min-width: 375px) and (max-width: 768px) {
  .how-to-info {
    width: 228px;

    &__title {
      margin-bottom: 26px;
      @include font-headline-4;
    }

    &__container {
      @include default-flex-centered-column;
      gap: 32px;
    }
  }

  .how-to-item {
    width: 288px;
    display: flex;
    gap: 16px;
    gap &__icon > svg {
      width: 56px;
      height: 56px;
    }

    &__title {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .how-to-info {
    width: 228px;

    &__title {
      margin-bottom: 26px;
      @include font-headline-4;
    }

    &__container {
      @include default-flex-centered-column;
      gap: 32px;
    }
  }

  .how-to-item {
    width: 288px;
    display: flex;
    gap: 16px;
    gap &__icon > svg {
      width: 56px;
      height: 56px;
    }

    &__title {
      margin-top: 0;
    }
  }
}
