.reviews {
  @include default-flex-centered-column;
  width: 1238px;
  max-width: 1238px;
  @include section-params-vp;
  &__title {
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
    @include font-headline-2;
  }

  &__swiper-container {
    width: 100%;
    max-width: 1087px;
  }
  .slick-list {
    min-height: fit-content;
  }
  .slick-dots {
    li {
      margin: 0 10px;
    }
    li > button:before {
      content: url('src/assets/pagination-dot.svg');
      opacity: 1;
    }
    li.slick-active > button:before {
      content: url('src/assets/pagination-dot-active.svg');
      opacity: 1;
    }
  }

  .slick-slider {
    &__arrow-prev,
    &__arrow-next {
      position: relative;
      font-size: 14px;
      svg {
        width: 32px;
        height: 32px;
      }
    }

    &__arrow-prev:not(.disabled-navigation),
    &__arrow-next:not(.disabled-navigation) {
      cursor: pointer;
      svg path {
        fill: $color-primary;
      }
    }

    &__arrow-prev {
      top: 185px;
      left: -55px;
    }

    &__arrow-next {
      bottom: 200px;
      left: calc(100% + 25px);
    }
  }

  @media screen and (max-width: 1023px) {
    .slick-slider {
      &__arrow-prev,
      &__arrow-next {
        display: none;
      }
    }
  }
  @media screen and (max-width: 320px) {
    min-height: fit-content;
    margin-top: 27px;
    &__title {
      margin-top: 0;
      margin-bottom: 16px;
      text-align: center;
      @include font-headline-4;
    }

    &__swiper-container {
      width: 290px;
    }
  }
}

.review-card {
  width: 297px;
  min-height: 256px;
  padding: 22px;
  border-radius: 8px;
  background-color: $color-white;
  box-shadow: 0px 15px 24px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;

  &__header {
    display: flex;
    margin-bottom: 20px;
  }
  &__avatar {
    margin-right: 16px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
  }
  &__text {
    @include font-body-14;
    align-self: stretch;
  }

  @media screen and (max-width: 768px) {
    width: 307px;
    min-height: 316px;
  }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 296px;
    min-height: 281px;
  }
  @media screen and (min-width: 320px) and (max-width: 374px) {
    width: 244px;
    min-height: 280px;
    margin-bottom: 27px;
  }
}

.user-info {
  &__name {
    margin: 0;
    @include font-headline-6;
  }
  &__city {
    font-size: 12px;
    line-height: 16px;
    color: $color-dark-gray;
  }
}
