.third-block {
  display: flex;
  gap: 32px;
  width: 1216px;
  height: 448px;
  align-items: center;

  &__text-info {
    width: 592px;
  }

  &__title {
    font-size: 32px;
  }

  &__text {
    font-size: 16px;
    line-height: 28px;
    color: $color-dark-gray;
  }
}
