@mixin default-flex-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@mixin default-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@mixin default-flex-centered-column {
  @include default-flex-centered;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin font-headline-1 {
  font-size: 52px;
  line-height: 64px;
}

@mixin font-headline-2 {
  font-size: 40px;
  line-height: 56px;
}

@mixin font-headline-3 {
  font-size: 32px;
  line-height: 40px;
}

@mixin font-headline-4 {
  font-size: 24px;
  line-height: 32px;
}

@mixin font-headline-5 {
  font-size: 20px;
  line-height: 24px;
}

@mixin font-headline-6 {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-body-18 {
  font-size: 18px;
  line-height: 32px;
}

@mixin font-body-16 {
  font-size: 16px;
  line-height: 28px;
}

@mixin font-body-14 {
  font-size: 14px;
  line-height: 24px;
}

@mixin font-body-12 {
  font-size: 12px;
  line-height: 24px;
}

@mixin section-params-vp {
  margin: 80px 0;
  @media screen and (max-width: 768px) {
    margin: 56px 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    width: 728px;
  }
  @media screen and (min-width: 375px) and (max-width: 767px) {
    width: 343px;
  }
  @media screen and (min-width: 320px) and (max-width: 374px) {
    width: 288px;
  }
}
