// Colors

$color-white: #ffffff;
$color-extralight-gray: #f6f8fa;
$color-light-gray: #eceff2;
$color-mid-gray: #c2c8cd;
$color-gray: #83898f;
$color-dark-gray: #5e646a;
$color-black: #191c1f;
$color-dangerous: #f13636;
$color-green-success: #25cd82;
$color-primary: #2a6cea;
$color-primary-hover: #397dff;
$color-primary-disabled: #abcae6;
