.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'GraphikLCG';
  font-size: 14px;
  color: $color-black;

  &__heading-wrapper {
    overflow-x: auto;
    height: 960px;
    max-height: 960px;
    background-image: url('img/background/lunch-dekstop-photo.png');
    background-size: cover;
    background-position: center;
  }

  &__general-info-wrapper {
    overflow-x: auto;
    @include default-flex-centered-column;
    gap: 80px;
    height: 969px;
    max-height: 969px;
  }

  &__reviews-wrapper,
  &__faq-wrapper,
  &__details-wrapper,
  &__form-wrapper {
    @include default-flex-centered;
    overflow-x: auto;
  }

  &__reviews-wrapper,
  &__details-wrapper {
    background-color: $color-extralight-gray;
  }

  &__reviews-wrapper {
    height: auto;
    overflow-x: hidden;
  }

  @media screen and (min-width: 1218px) {
    &__details-wrapper {
      height: 662px;
    }
  }

  @media screen and (max-width: 1023px) {
    &__general-info-wrapper {
      overflow-x: auto;
      gap: 56px;
    }
  }

  @media screen and (max-width: 1023px) and (min-width: 768px) {
    &__heading-wrapper {
      height: 1024px;
      max-height: 1024px;
      background-image: url('img/background/lunch-tablet-photo.png');
    }

    &__general-info-wrapper {
      @include default-flex-centered-column;
      min-height: 715px;
      max-height: 715px;
    }
  }

  @media screen and (max-width: 767px) {
    &__general-info-wrapper {
      overflow-x: auto;
      @include default-flex-column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      gap: 56px;
      margin: 56px 0;
    }
  }

  @media screen and (max-width: 476px) and (min-width: 375px) {
    &__heading-wrapper {
      height: 596px;
      max-height: 596px;
      background-image: url('img/background/lunch-mobile-photo.png');
    }

    &__general-info-wrapper {
      min-height: 1095px;
      max-height: 1095px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 374px) {
    &__heading-wrapper {
      min-height: 509px;
      max-height: 509px;
      background-image: url('img/background/lunch-mobile-small-photo.png');
    }

    &__general-info-wrapper {
      overflow-x: auto;
      @include default-flex-centered-column;
      gap: 56px;
      margin: 56px 0;
      min-height: 1270px;
      max-height: 1270px;
    }
  }
}
